<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Translator6.9</h1>
            <h4>With hookers and blackjack! and forget about the hookers</h4>
            <hr>
            <label for="translator">What do you want to translate?</label>
            <br>
            <textarea name="translator" id="translator" cols="50" rows="2"></textarea>
            <br>
            <button class="btn btn-primary">Translate</button>
            <hr>
            <h3>Translation:</h3>
            <p>Here will be the translation</p>
        </div>
    </div>
</div>

